.homeHero {
        /*margin: -8rem 0 0 0;*/
        height: 95vh;
}
@media (max-width: 1280px) {
	.homeHero {
        height: 85vh;
        padding: 5rem 0;
	}
}

@media (max-width: 768px) {
	.homeHero {
        height: 90vh;
        margin: 0 0 0 0;
        padding: 0;
	}
}